# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
venv/
lib/
local/
bin/ # <-- Убедись, что 'bin/' тоже есть, если он в твоем .venv

# Django
*.log
*.pot
*.mo
*.sqlite3
db.sqlite3
*.env # <-- ДОБАВЛЕНО: игнорируем файл .env
media/
static/
*/migrations/ # <-- ДОБАВЛЕНО: игнорируем папки миграций во всех приложениях

# IDE-specific files
.idea/
.vscode/
*.iml
*.DS_Store

# Django specific
# *.pot # <-- уже есть в Django секции выше, можно удалить дубликат
# *.mo  # <-- уже есть в Django секции выше, можно удалить дубликат
local_settings.py